transformers==4.27.4
mecab-python3==1.0.5
num2words==0.5.12
unidic_lite==1.0.8
unidic==1.1.0
mecab-python3==1.0.5
pykakasi==2.2.1
fugashi==1.3.0
g2p_en==2.1.0
anyascii
jamo
gruut[de,es,fr]==2.2.3
g2pkk>=0.1.1